<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teacher Directory</title>
    <link rel="stylesheet" href="style.css">
    <!-- Add Chart.js script -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<section class="admin">
<section class="teacher-style">
<body>
    <section>
    <h2>Teacher's Management</h2>
    </section>
    <section>
    <div class="chart-container">
    <canvas id="myChart"  width="40" height="40"></canvas>
    </div>
    <div class="chart-container">
    <canvas id="myrhart"  width="40" height="40"></canvas>
    </section>
    </div>
    <div>
    <h2>
        List of teachers 
    </h2>
    
    <ul id="teacherList">
        <li onclick="showTeacherInfo('John Doe')">John Doe</li>
        <li onclick="showTeacherInfo('Jane Smith')">Jane Smith</li>
        <li onclick="showTeacherInfo('Emily Johnson')">Emily Johnson</li>
        <li onclick="showTeacherInfo('Teacher 1')">Teacher 1</li>
        <li onclick="showTeacherInfo('Teacher 2')">Teacher 2</li>
        <li onclick="showTeacherInfo('Teacher 3')">Teacher 3</li>
        <li onclick="showTeacherInfo('Teacher 4')">Teacher 4</li>
        <li onclick="showTeacherInfo('Teacher 5')">Teacher 5</li>
        <li onclick="showTeacherInfo('Teacher 6')">Teacher 6</li>
        <li onclick="showTeacherInfo('Teacher 7')">Teacher 7</li>
    </ul>

    <div id="teacherInfoModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal()">&times;</span>
            <h2 id="teacherName"></h2>
            <p id="teacherInfo"></p>
            <button onclick="deleteTeacher()">Delete Teacher</button>
            <p id="courseCount"></p>
        </div>
    </div>
     </div>

    <script src="adminscript1.js"></script>

</body>
</section>
</html>
