<!-- changePassword.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password</title>
    <link rel="shortcut icon" href="./images/logo.png">
    <!-- Link to the existing CSS file -->
    <link rel="stylesheet" href="/css/password.css">
</head>
<body>
    <%- include("header.ejs") %>
    <section>
        <div id="header"></div>
    </section>
    <div class="container">
        <div class="form-wrapper">
            <h1>Hey, <%= user.name %>!</h1>
            <h1>Change Password</h1>
            <form action="/change-password" method="POST" class="password-form">
                <div class="form-group">
                    <label for="currentPassword">Current Password:</label>
                    <input type="password" name="currentPassword" id="currentPassword" required>
                </div>

                <div class="form-group">
                    <label for="newPassword">New Password:</label>
                    <input type="password" name="newPassword" id="newPassword" required>
                </div>

                <div class="form-group">
                    <label for="confirmNewPassword">Confirm New Password:</label>
                    <input type="password" name="confirmNewPassword" id="confirmNewPassword" required>
                </div>

                <button type="submit" class="btn primary-btn">Change Password</button>
            </form>
        </div>
    </div>
</body>
</html>
