<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
</head>

<body>
    <footer id="deraj-ab">
 
        <div class="footer-innerdiv1">
            <div class="col1">
                <ul class="footer-ul">
                    <li class="footer-li" style="font-weight: 700;">QuikLearn for Business</li>
                    <li class="footer-li" style="font-weight: 700;">Become an Instructor</li>
                    <li class="footer-li">Mobile Apps</li>
                </ul>
            </div>
            <div class="col2">
                <ul class="footer-ul">
                    <li class="footer-li">About Us</li>
                    <li class="footer-li">Careers</li>
                    <li class="footer-li">Blog</li>
                </ul>
            </div>
            <div class="col3">
                <ul class="footer-ul">
                    <li class="footer-li">Topics</li>
                    <li class="footer-li">Support</li>
                    <li class="footer-li">Affiliate</li>
                </ul>
            </div>
            <div class="col4">
                <ul class="footer-ul" style="margin: 0px">
                    <li class="footer-li">
                       <a href="/contact">
                        <button class="English-btn">
                            <span style="margin-left:10px; margin-right: 15px; padding: 5px;">
                                <i class="fas fa-globe-asia" style="margin-right: 10px;"></i>Contact Us</span>
                                 
                            <i class="fas fa-angle-up"></i>
                        </button>
                       </a>
                    </li>
                </ul>
            </div>
        </div>
    
    
    
    
    
        <!-- LAST DIV -->
    
        <div class="footer-innerdiv2">
            <!-- Div 1  -->
            <div class="left-contlist">
                <a href="/">
                    <img src="images/logo2.svg" alt="QuikLearn" width="110px">
                </a>
                <span class="copyright-span" style="margin-left: 20px; color: #686f7a">Copyright © 2024 QuikLearn, Inc.</span>
            </div>
    
    
            <!-- Div 2 -->
            <div class="right-contlist">
                <ul class="ullist-right">
                    <li class="r-li-itm">Terms</li>
                    <li class="r-li-itm">Privacy Policy and Cookie Policy</li>
                    <li class="r-li-itm">Intellectual Property</li>
                </ul>
            </div>
    
        </div>
    
</body>
</html>