

 <!DOCTYPE html>
 <html lang="en">
 <head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/header.css">
 </head>
 <body>
  <header>
    <nav>
      <div class="logo-container">
        <a href="/"><img src="images/logo2.svg" alt="QuikLearn Logo" id="logo"/></a>
      </div>
      <i class="fas fa-bars" id="ham-menu"></i>
      <ul id="nav-bar">
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/about">About</a>
        </li>
        <li>
          <a href="/courses">Courses</a>
        </li>
        <li>
          <a href="/teachers">Teachers</a>
        </li>
        <li>
          <a href="/faqs">FAQ</a>
        </li>
        <li>
          <a href="/contact">Contact</a>
        </li>
        <li>
          <a href="login">Login</a>
        </li>
      </ul>
    </nav>
  </header>
 </body>
 </html>


