header {
  width: 100%;
  background-color: #ffffff;
  padding: 0.5rem 2rem; /* Adjust padding as needed */
  height: 5rem; /* Adjust height of the header */
  position:absolute; /* Keep the header fixed at the top */
  top: 0;
  z-index: 1000;
  display: flex; /* Use flexbox for layout */
  justify-content: space-between; /* Distribute items evenly across the header */
  align-items: center; /* Center items vertically */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add shadow for better visibility */
}

header a {
  padding: 0;
}

.logo-container {
  display: flex;
  align-items: center;
  margin-right: 104%;
}

.logo-container img {
  max-height: 100%;
}

nav {
  display: flex;
  align-items: center; /* Align items vertically */
}

nav ul {
  list-style: none;
  display: flex;
  gap: 2rem; /* Reduce the gap between menu items */
  margin-right: 2rem; /* Add margin to push items to the right */
}

nav a {
  font-size: 1rem; /* Reduce font size for smaller screens */
  text-decoration: none;
  padding-top: 0.3vh;
}

nav ul a {
  color: #000000;
  font-weight: 600;
}

nav ul a:hover {
  border-bottom: 2px solid #0B4556;
}

#ham-menu {
  display: none;
}

nav ul.active {
  left: 0;
}

@media only screen and (max-width: 991px) {
  html {
    font-size: 56.25%;
  }
  header {
    padding: 0.5rem 2rem; /* Adjust padding for smaller screens */
  }
}

@media only screen and (max-width: 767px) {
  #ham-menu {
    display: block;
    color: #000000;
  }
  nav a#logo,
  #ham-menu {
    font-size: 1.5rem; /* Reduce font size for smaller screens */
  }
  nav ul {
    gap: 1rem; /* Adjust gap for smaller screens */
    margin-right: 1rem; /* Adjust margin for smaller screens */
  }
  nav ul {
    top: 4rem; /* Adjust top position for smaller screens */
    height: calc(100vh - 4rem); /* Adjust height for smaller screens */
  }
}

@media only screen and (max-width: 575px) {
  header {
    padding: 0.5rem 1rem; /* Further reduce padding for smallest screens */
  }
  nav ul {
    top: 3.5rem; /* Further adjust top position for smallest screens */
    height: calc(100vh - 3.5rem); /* Further adjust height for smallest screens */
  }
}
